/* Font style */
.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 12px;
    padding: 0px;
}

.head{
    background-image:linear-gradient(rgba(7, 2, 17, 1),rgba(7, 2, 17, 0)), url('../images/Banner Image.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 2px;
    margin: 0 auto;

}
.sub-title{
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    color: white;
    padding-top: 177px;
    padding-bottom: 16px;
    
    
}
.title{
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    color: white;
    padding-bottom: 177px;
}
/* offer section */
/* section- 1 */
.offer{
    /* this will must be margin from the top */
    margin-top: 120px;
}
.offer-detail{
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    color: rgba(255, 0, 0, 1);
}
.our-offer{
    font-size: 24px;
    font-weight: 500;
    padding-top: 48px;
    text-align: center;
}
.all-categories{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #070211;
    padding-bottom: 48px;
}

/* section-2 */
.mid-night{
    /* from the right side that's why use to right */
    background-image: linear-gradient( to right, rgba(7, 2, 17, 1),rgba(7, 2, 17, 0)), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px;
    height: 600px;
    margin: 0 auto;
}

.mid-night-container{
    display: flex;
    gap: 39.17px;
    justify-content: space-between;
}

.mid-night-title{
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    color: white;
    padding-top: 126px;
    padding-left: 126px;
}
.mid-night-dis{
    font-size: 18px;
    font-weight: 300;
    color: white;
    padding-left: 126px;
}
.mid-night-join{
    font-size: 20px;
    font-weight: bold;
    padding-left: 158px;
    padding-top: 48px;
    color: white;

}
.mid-night-image{
    padding-top: 68.11px;
    padding-bottom: 67.23px;
    padding-right: 108.67px;
}
